.credentials {
    .accomplishment-recipient{
      color: #dd4628;
    }
    .wrapper-header {
        background: #30363a;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        border: none;
    }
    .header-app-title {
        text-align: left;
    }
    .header-app {
        max-width: 1170px;
        padding: 0;

        .logo {
            width: auto;
        }
    }
    .wrapper-banner-user {
        box-shadow: inset 0 0.07rem 0.07rem 0 rgba(0,0,0,0.5);
        background: #84b727;
        font-family: titilliumweb-regular, sans-serif;
        margin-top: 0;
        padding-top: 32px;
        padding-bottom: 34px;
        border: none;
    }
    .banner-user {
        max-width: 1170px;
        
        .message-block {
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        .message-text {
            float: none;
            width: 100%;
        }
        .message-actions {
            float: none;
            text-align: left;
        }
        .message-actions-box {
            border: none;
            background-color: transparent;
            padding: 0;
        }
        .action {
            border-color: #fcfcfc;
            background: transparent;
            color: #fcfcfc;
            font-size: 0.875rem;
            font-weight: normal;
            white-space: nowrap;

            &:hover {
               color: #34383a;
               background: #fcfcfc;
            }

            &_text {
               padding-left: 5px;
            }
            
            .icon {
                display: inline-block;
            }
        }
    }
    .accomplishment-rendering {
        border-top: 0.4rem solid #3ba0da;
        border-bottom: 0.4rem solid #3ba0da;
    }
    .wrapper-footer {
        background: #fff;
        padding: 40px 0;

        .action {
            font-size: 14px;
            color: #0079bc;
            font-weight: 600;
        }
        .copy {
            margin: 0;
        }
        .support-copy {
            margin: 0;
            padding-bottom: 40px;
        }
    }
    .footer-app-legal {
        display: flex;
        width: 100%;
    }
   .footer-app-nav {
       margin: 0 0 0 auto;
   }
   .footer-app {
      border-color: rgba(167,164,164,0.05);
      padding: 40px 0 0;
   }
}
.certificate-xseries .accomplishment-rendering .background-image {
    display: none;
}
.footer-app-legal .copyright-trademarks {
    margin: 0;
}
.credentials .accomplishment-rendering {
   margin-left: 0;
   margin-right: 0;
}
.accomplishment-support {
  padding: 0;
}
