{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="credentials layout-accomplishment view-valid-accomplishment ltr certificate certificate-xseries" data-view="valid-accomplishment">

    <div class="wrapper-view" dir="ltr">

        <div class="wrapper-header">
            <header class="header-app" role="banner">
                <h1 class="header-app-title">
                    <a class="logo" href="{{lms_base_url}}">
                        <img class="logo-img" src="{% static 'images/computrain-logo.png' %}" alt="{% firstof site.name platform_name %}" />
                    </a>
                    <span class="sr-only">{% firstof site.name platform_name %}</span>
                </h1>
            </header>
        </div>

        <hr class="divider sr-only">
        <div id="fb-root"></div>

        <div class="wrapper-banner wrapper-banner-user">
            <section class="banner banner-user">
                <div class="message message-block message-notice">
                    <div class="message-text">
                        <h2 class="message-title">
                            {% blocktrans with user_name=current_certificate_context_username %}
                                Congratulations, {{ user_name }}!
                            {% endblocktrans %}
                        </h2>

                        <p class="message-copy">
                            {% blocktrans with organization_name=certificate_context.organization_data.short_name %}
                                You worked hard to earn your XSeries certificate from {{ organization_name }}.
                            {% endblocktrans %}
                        </p>
                    </div>
                    <div class="message-actions">
                        <div class="message-actions-box">
                            <h3 class="sr-only">{% trans "Print or share your certificate:" %}</h3>
                            <button title="{% trans 'Print' %}" class="action action-print btn icon-only" id="action-print-view">
                                <i class="icon fa fa-print icon-print" aria-hidden="true"></i>
                                <span class="action-label">{% trans "Print this certificate" %}</span>
                                <span class="action_text">Print Certificate</span
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <main class="accomplishment accomplishment-main">

            <div class="wrapper-accomplishment-rendering">
                <div class="accomplishment-rendering">
                    <img src="{% static 'images/xseries-seal-grayscale.png' %}" class="background-image">
                    <div class="wrapper-accomplishment-title xseries">
                        <h2 class="accomplishment-title">
                            <span class="accomplishment-title-label">{% trans "XSeries" %}</span>
                            <span class="accomplishment-title-type">
                                {% blocktrans with span_start='<span class="deco">' span_end='</span>' %}
                                    Certificate {{ span_start }} of {{ span_end }} Achievement
                                {% endblocktrans %}
                            </span>
                        </h2>

                        <div class="wrapper-accomplishment-orgs">
                            <h3 class="accomplishment-orgs-title sr-only">
                                {% trans "Supported by the following organizations" %}
                            </h3>
                            <ul class="wrapper-orgs list-orgs">
                                <li class="wrapper-organization">
                                    <div class="organization">
                                        {% if certificate_context.organization_data and certificate_context.organization_data.logo %}
                                            <img class="organization-logo" src="{% static 'images/logo-llpa.png' %}" alt="{{ certificate_context.organization_data.name }} {% trans 'logo' %}">
                                        {% else %}
                                            <h4 class="organization-name">{{ certificate_context.organization_data.name }}</h4>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapper-accomplishment-statement">
                        <div class="accomplishment-statement">
                            <p class="accomplishment-statement-lead">
                                {% blocktrans with user_name=current_certificate_context_username  %}
                                    <span class="accomplishment-statement-detail copy">This is to certify that</span>
                                    <strong class="accomplishment-recipient">{{ user_name }}</strong>
                                    <span class="accomplishment-summary copy">successfully completed all courses in the XSeries Program</span>
                                {% endblocktrans %}
                                <span class="accomplishment-program">
                                    <span class="accomplishment-program-name">
                                        {% firstof certificate_context.credential_title certificate_context.programs_data.name %}
                                    </span>
                                </span>

                                <span class="accomplishment-statement-detail copy">
                                    {# Translators: course_count is an integer value, and name is the display name for the provided organization e.g Test Organization. #}
                                    {% blocktrans with course_count=certificate_context.programs_data.course_count name=certificate_context.organization_name platform_name=platform_name %}
                                        a series of {{ course_count }} courses offered by {{ name }} through {{ platform_name }}.
                                    {% endblocktrans %}
                                </span>
                            </p>
                        </div>
                        <div class="accomplishment-signatories">
                            <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" %}</h3>

                            <div class="wrapper-signatories">
                                <div class="list-signatories">
                                    {% for signatory in user_credential.credential.signatories.all %}
                                    <div class="signatory">
                                        {% if signatory.image %}
                                            <img class="signatory-signature" src="{{signatory.image.url}}" alt="{{signatory.name}}">
                                        {% endif %}
                                        <h4 class="signatory-name">{{ signatory.name }}</h4>

                                        <p class="signatory-credentials">
                                            <span class="role">{{ signatory.title }}</span>
                                                <span class="organization">{% firstof signatory.organization_name_override certificate_context.organization_data.name %}</span>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-accomplishment-stamps">
                        <ul class="accomplishment-stamps copy-list">
                            <li class="accomplishment-stamp-platform">
                                <a class="img-link" href="{{lms_base_url}}">
                                    <img class="logo-img" src="{% static 'images/logo-llpa.png' %}" alt="{{ platform_name }}"/>
                                </a>
                            </li>
                            <li class="accomplishment-stamp-date">
                                <span class="title">{{ certificate_context.credential_type }}</span>
                                <span class="copy-micro emphasized">{% trans "Issued " %} {{ user_credential.modified|date:"F Y" }}</span>
                            </li>
                            <li class="accomplishment-stamp-validity">
                                <span class="title">{% trans "Valid Certificate ID" %}</span>
                                <span class="emphasized">{{ user_credential.uuid.hex }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="wrapper-accomplishment-metadata">
                <div class="accomplishment-metadata">
                    
                </div>
            </div>
        </main>

        <hr class="divider sr-only">

        <div class="wrapper-footer">
            <div class="wrapper-accomplishment-support">
                <div class="accomplishment-support">
                    <div class="accomplishment-support-print">
                        <p class="support-copy">
                            {% blocktrans with link_start='<a target="_blank" href="http://edx.readthedocs.org/projects/edx-guide-for-students/en/latest/SFD_certificates.html#web-certificates">' link_end='</a>' %}
                                For tips and tricks on printing your certificate, view the
                                {{ link_start}}  Web Certificates help documentation {{ link_end }}.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            <footer class="footer-app" role="contentinfo" id="company-info">
                <div class="footer-app-legal">
                    <div class="copyright-trademarks">
                        <p class="copy">
                          © 2017 Computrain On Demand. All rights reserved.
                        </p>
                    </div>
                    <nav class="footer-app-nav">
                        <ul class="list list-legal">
                            <li class="nav-item">
                                {% blocktrans with link_start='<a class="action" href="' link_middle='/tos">' link_end='</a>' %}
                                    {{ link_start }} {{lms_base_url}}{{link_middle}} Terms of Service &amp; Honor Code {{ link_end }}
                                {% endblocktrans %}
                            </li>
                            <li class="nav-item">
                                {% blocktrans with link_start='<a class="action" href="' link_middle='/privacy">' link_end='</a>' %}
                                    {{ link_start }} {{lms_base_url}}{{link_middle}} Privacy Policy {{ link_end }}
                                {% endblocktrans %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock %}
